<div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onUpdateAmount(f)" #f="ngForm">
        <!-- <div class="row">
          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              id="amount"
              class="form-control"
              name="amount"
              ngModel
            >
          </div>
        </div> -->
        <div class="row">
          <div class="col-xs-12">
            <!-- <button
              class="btn btn-success"
              type="submit"
              >Update amount</button> -->
            <button
              class="btn btn-danger"
              type="button" (click)="onDelete()">Delete</button>
            <button
              class="btn btn-success"
              type="button" (click)="onSaveItems()">Save Items</button>
              <button
              class="btn btn-success"
              type="button" (click)="onFetchItems()">Load saved Items</button>  
          </div>
        </div>
      </form>
    </div>
  </div>
  