<nav class="navbar navbar-default">
    <div class="contaier-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Shopping Market</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="/market">Market</a></li>
              <li routerLinkActive="active"><a routerLink="/shopping-basket">Shopping Basket</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                  <a style="cursor: pointer;" class="dropdown-toggle" role="button">Register <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a style="cursor: pointer;">Log in</a></li>
                    <li><a style="cursor: pointer;">Sign up</a></li>
                  </ul>
                </li>
              </ul>
        </div>
    </div>
</nav>
