<div class="row">
    <div class="col-xs-12">
        <img 
        [src]="item.imagePath" 
        alt="{{item.model}}" 
        class="img-responsive"
        style="max-height: 300px;">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{item.model}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div 
            class="btn-group"
            appDropdown>
                <button 
                type="button" 
                class="btn btn-primary dropdown-toggle">
                Manage Item <span class="caret"></span> 
                </button>
                <ul class="dropdown-menu">
                     <li><a (click)="onAddToShoppingBasket()" style="cursor: pointer;">Add to Basket</a></li> 
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{item.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Specifications
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{item.display}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{item.memory}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{item.camera}}
    </div>
</div>